<h1><%= @user.name%></h1>

<div id="charactor">
  <% u = @user_recordes.count %>
  <% case @user_recordes.count %>
  <% when 0...4 %>
    <%= image_tag 'level1' %><br/>
    レベル１<br/>
  <% when 5...9 %>
    <%= image_tag 'level2' %><br/>
    レベル２<br/>
  <% when 10...14 %>
    <%= image_tag 'level3' %><br/>
    レベル３<br/>
  <% else %>
    <%= image_tag 'level4' %><br/>
    レベル４<br/>
  <% end %>
</div>


<ul>
  <% @user_recordes.each do |r| %>
    <li><%= r.book.book_name %> ( <%= r.date  %> )<br/> <%= image_tag r.book.book_image_url %></li>
  <% end %>
</ul>

<%= link_to '戻る', root_path %>


