<h1><%= @user.name%></h1>

<ul>
  <% @user_recordes.each do |r| %>
    <li><%= r.book.book_name %> ( <%= r.date  %> )<br/> <%= image_tag r.book.book_image_url %></li>
  <% end %>
</ul>

<%= link_to '戻る', root_path %>


