<h1><%= @user.name%></h1>
<div id="charactor">
  <% case @user_records.count %>
    <% when 0..2 then %>
      <%= image_tag 'level1' %><br/>
      レベル１<br/>
    <% when 3..5 then %>
      <%= image_tag 'level2' %><br/>
      レベル２<br/>
    <% when 6..10 then %>
      <%= image_tag 'level3' %><br/>
      レベル３<br/>
    <% else %>
      <%= image_tag 'level4' %><br/>
      レベル４<br/>
  <% end %>
</div>

<ul>
  <% @user_records.each do |r| %>
    <li><%= r.book.book_name %> ( <%= r.read_date  %> )<br/> <%= image_tag r.book.book_img_url %></li>
  <% end %>
</ul>

<%= link_to '戻る', root_path %>