<h1><%= @book.book_name %></h1>
<table>

  <tr>
    <td>タイトル</td>
    <td><%= @book.book_name %></td>
  </tr>

  <tr>
    <td>ISBN</td>
    <td><%= @book.isbn %></td>
  </tr>

  <tr>
    <td>著者</td>
    <td><%= @book.book_author %></td>
  </tr>

  <tr>
    <td>言語</td>
    <td><%= @book.book_lang %></td>
  </tr>

</table>

